# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# `openssl rand -base64 32`
AUTH_SECRET= 79c91a2f1d1e496a48a6aed17c8c4111e303ce24f3f4c4dae7d7818084d6056090a8560a5297d8dd3d0eefc96019222d47358fce448d044efb4e545eeedf44d4
AUTH_URL=http://localhost:3000/api/auth
